<div class="element-left">

    <div class="element-bg-img">
        <img class="img-responsive"
             [src]="selectedResort.photoUrl">
    </div>

    <div class="element-left-bottom">

        <div class="ele-strip">
            <ul>
                <li *ngFor="let country of countries"
                    (click)="setSelectedCountry(country)"
                    [ngClass]="{selected: isSelectedCountry(country)}">
                    {{country}}
                </li>
            </ul>
        </div>

        <div class="village">
            <div class="activity_box">
                <div class="scrollbar" id="style-2">

                    <app-resort-item *ngFor="let resort of resortList | resortCountry: _selectedCountry"
                                     [resort]="resort"
                                     (onResortSelect)="onResortSelect.emit(resort)">
                    </app-resort-item>

                </div>
            </div>
        </div>

    </div>
</div>