<div class="teddy-bear">
    <div class="teddy-text">
        <h4>{{selectedResort.city}}</h4>
        <h5>{{selectedResort.country}}</h5>
        <img [src]="'assets/images/resort' + selectedResort.id + '.jpg'"/>
    </div>

    <div class="teddy-follow">
        <ul>
            <li class="folw-h">
                <h3>{{selectedResort.followers}}</h3>
                <p>Followers</p>
            </li>

            <li>
                <h3>{{selectedResort.following}}</h3>
                <p>Following</p>
            </li>
        </ul>
    </div>
</div>
